html {
  font-size: 10px;
  background: url(http://hd-wall-papers.com/images/wallpapers/drummer-wallpapers/drummer-wallpapers-11.jpg) bottom center;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid #000;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0 0 0.5rem #000;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
